<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src=" https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js "></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/scripts/script.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#results').DataTable();


            $(function () {
                $(".widget button").button();
                $("button").on("click", function (event) {
                    event.preventDefault();
                });
            });
        });
    </script>
</head>

<div class="container">
    <div class="d-flex justify-content-center">
        <div class="input-group">
            <h1>MLGET - Download Malware</h1>
            <form id="download" action="/" method="POST">
                <div>
                    <textarea name="hashes" rows="10" cols="80"></textarea>
                </div>
                <div>
                    <button class="w-100 btn btn-primary btn-lg" type="submit">Download</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br />
<br />

<div class="container">
    <div class="row d-flex justify-content-center">
        <table id="hashes" class="display">
            <thead>
                <tr>
                    <th>Hash</th>
                    <th>Hash Type</th>
                    <th>Found On</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>